.cardContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    margin-top: 1em;
}

.cardContainer .card {
    position: inherit;
    border-left: 1px solid black;
    border-right: 1px solid black;
    flex-grow: 1;
    flex-shrink: 3;
    flex-direction: row;
}

.healthDisplay {
    position: fixed;
    display: flex;
    align-items: center;
    left: 25%;
    top: 0%;
    width: 50%;
    border: 1px solid black;
    background-color: red;
    height: fit-content;
    z-index: 2;
}

.healthDisplay .healthBarLabel {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-size: x-large;
    color: blue;
    height: inherit;
    z-index: 1;
}

.healthBar {
    position: absolute;
    border-right: 2px inset black;
    max-width: 100%;
    height: 100%;
    background-color: greenyellow;
    z-index: 0;
}